.task-list {
  max-width: max-content;
  /* width: 125%; */
  margin: 20px auto;
  text-align: center;
  padding: 20px;
}

.task-list h2 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 24px;
}

.task-list button { 
  background-color: #1f6fdf;
  
}

.task-table {
  width: 100%;
  margin-top: 20px;
}

.task-table th,
.task-table td {
  border: 1px solid #99e4ff3d;
  padding: 0px 15px;  
  text-align: left;
  text-align: center;
}
.task-table th {
  background-color: #1f6fdf;
  font-weight: bold;
  border-radius: 2px;
  text-align: center;
  padding: 10px 15px;
}

.task-table tr:nth-child(even) {
  background-color: #f4741e1f;  
}

.task-table tr:hover {
  background-color: #64cbff36;
}

.task-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 5px 0px;
}

.task-actions button {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.task-table button {
  padding: 5px 10px;
  /* margin-right: 5px; */
  border: none;
  border-radius: 4px;
  cursor: pointer;  
  background-color: #1460da;
  color: white;
  transition: background 0.3s;
}

.task-table button:hover {
  background-color: #0250cd;
}

.notification {
  background-color: #f44336; /* Cor vermelha para erro */
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
}

.desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  /* display: inline-block; */
}

.task-table .edit-button {
  background-color: #2fb87a; 
}

.task-table .delete-button {
  background-color: #f44336; 
}

.task-table .edit-button:hover {
  background-color: #45a049; 
}

.task-table .delete-button:hover {
  background-color: #d32f2f; 
}

.Toastify__toast {
  font-size: 11px !important;
  justify-content: center !important;
  border-radius: 10px !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0) !important;
}

